@model  OnlineCourseWeb.Models.MenuLocationModel
@{
    ViewBag.Title = "Menu";
}

<h2>@ViewBag.result</h2>

<div class="container">
    <div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabbs="tabs">
            <li class="active">
                <a href="#tab1" data-toggle="tab">Create Menu Location</a>
            </li>
            <li>
                <a href="#tab2" data-toggle="tab">List Menu Location</a>
            </li>
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="row">
                    <div id="menu" class="col-lg-12">
                        @using (Ajax.BeginForm("Menu", "Default", null, new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "menu"
                        }))
                        {
                            @Html.AntiForgeryToken()
                            <br>
                            <div class="form-group">
                                <div>
                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
                                </div>
                            </div>
                            <button class="use-ajax">Process</button>
                            <br />
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="row">
                    <div id="menu" class="col-lg-12">
                        <table class="table table-bordered table-hover display" style="width:100%" id="menuTable">
                            <thead>
                                <tr>
                                    <td>Id</td>
                                    <td>Location</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
